%%%----------------------------------------------------------------------------
%%% CORE
%%%----------------------------------------------------------------------------

%% Extend list of always recursive commands.
%%
{recursive_cmds, []}.

%% Check required ERTS or OTP release version.
%%
{require_erts_vsn, "6.2"}.
{require_otp_vsn, "17"}.
{require_min_otp_vsn, "17"}.

%% Additional 'code path' library directories..
{lib_dirs, []}.


%%%----------------------------------------------------------------------------
%%% DEPS
%%%----------------------------------------------------------------------------

{deps, [
  {lager,    ".*",
    {git, "git://github.com/basho/lager.git", "master"}},
  {jsxn,     ".*",
    {git, "https://github.com/talentdeficit/jsxn.git", "master"}},
  {ranch,    ".*",
    {git, "git://github.com/extend/ranch.git", "master"}},
  {cowboy,   ".*",
    {git, "git://github.com/extend/cowboy.git", "master"}},
  {meck,     ".*",
    {git, "https://github.com/eproxus/meck.git", {tag, "master"}}}
]}.


%%%----------------------------------------------------------------------------
%%% COMPILER ERL_OPTS
%%%----------------------------------------------------------------------------
{erl_opts, [
  % no_debug_info,
  {parse_transform, lager_transform}
  % {i, "myinclude"},
  % {src_dirs, ["src", "src2", "src3"]},
  % {platform_define, "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
  % {platform_define, "(linux|freebsd)", 'BACKLOG', 128},
  % {platform_define, "R13", 'old_inets'}
]}.




%%%----------------------------------------------------------------------------
%%% EUNIT
%%%----------------------------------------------------------------------------

%% Options for eunit:test()
{eunit_opts, []}.

%% Additional compile options for eunit. erl_opts is also used
{eunit_compile_opts, []}.

%% Same as erl_first_files, but used only when running 'eunit'
{eunit_first_files, []}.


%%%----------------------------------------------------------------------------
%%% COVER
%%%----------------------------------------------------------------------------

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, true}.


%%%----------------------------------------------------------------------------
%%% EDOC
%%%----------------------------------------------------------------------------

%% edoc options
{edoc_opts, [
  {preprocess, true}
]}.
